.wy-side-nav-search {
    background: unset;
}

.wy-nav-side {
    background-color: #eeeeee;
}

.wy-menu-vertical a {
    color: #4e4a4a;
}

.wy-menu-vertical a:hover {
    color: #d9d9d9;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #003380ff;
}

.wy-side-nav-search input[type="text"] {
    border: unset;
}

